[submodule "output"]
	path = output
	url = git@github.com:JhonnyJason/happy-habits-output.git
[submodule "sources"]
	path = sources
	url = git@github.com:JhonnyJason/happy-habits-sources.git
[submodule "toolset"]
	path = toolset
	url = git@github.com:JhonnyJason/toolset.git
